<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>This is the service description index for Job search and posting service</h2>
    <p>We have the following services available:</p>
    <li>
      <p>Students: <a href="/api/students">/api/students</a></p>
    </li>
    <li>
      <p>Companies: <a href="/api/companies">/api/companies</a></p>
    </li>
    <li>
      <p>Jobs: <a href="/api/jobs">/api/jobs</a></p>
    </li>
    <li>
      <p>Applications: <a href="/api/jobs">/api/applications</a></p>
    </li>

  <h2>For carrying out the searches, you can use the following APIs:</h2>
    <li>
      <p>Search: <a href="/api/search">/api/search</a></p>
    </li>
    <li>
      <p>Matching service: <a href="/api/match">/api/match</a></p>
    </li>
  </body>
</html>
